################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlainMQ.Net/v17
/PlainMQLib/obj
/PlainMQLib/bin/Debug/net6.0
/.vs
/PlainMQLib/nuget.config
/PlainMQLib/bin
